[submodule "GateServer"]
	path = GateServer
	url = https://github.com/SR-WYN/GateServer.git
[submodule "CHAT"]
	path = CHAT
	url = https://github.com/SR-WYN/CHAT.git
[submodule "StatusServer"]
	path = StatusServer
	url = https://github.com/SR-WYN/StatusServer.git
